.card0 { max-width: 96px; overflow: hidden; }
.card0 img { max-width: initial;}

html, body {
	height: 100%;
    margin: 0px;
	overflow: hidden;
}

.divTable{
	display: table;
	width: 100%;
	height: 100%;
}
.divTableRow {
	display: table-row;
	border: 1px solid #999999;
	padding: 3px 10px;
	margin: 3px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.cardbutton {
 border:0;
 background:transparent;
}

.cardimg {
    height:13vh;
}


.tpc {
    width:24%;
}

.pcell {
    direction: ltr;
}

.lastcell {
    border:0;
}

.bidbutton {
    width:6vw;
    margin:5px;
}

.bidbuttonphone {
    width:9vw;
    margin:10px;
    padding:20px;
    font-size:24px;
}


.maincardtable {
}
.column5 {
}
.column6 {
}

#cards {
    width:100vw;
    overflow-x:auto;
}
#top {
	height:20%;
}
#mid {
	height:10%;
}
#main {
	height:68%;
    overflow-x: hidden;
    overflow-y: auto;
}

#trump {
    height: 9vh;
    position: relative;
    top:0;
    left:0;
    display: inline-block;
}

button:disabled,
button[disabled]{
    opacity: 0.5;
}
